.container {
    display: flex;
    flex-direction: column;
}

.turn {
align-self: center;
}

.board {
align-self: center;
display: grid;
  height: 500px;
  width: 500px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 1px solid black;
  gap: 2px;
  padding: 2px;
}

.cell {
    color: rgb(56, 114, 95);
    font-size: 8rem;
}

.restart,
.players {
    align-self: center;
    width: 30%;
    margin-top: 2rem;
}